.container {
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -6px;
}

.col {
    box-sizing: border-box;
    margin-left: 6px;
    margin-right: 6px;
    word-wrap: break-word;
    margin-bottom: 12px;
}

.col_6 {
    width: calc(100% / 3 - 12px);
}
